<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="grid">
    <ion-card *ngFor="let item of items" class="card-item">
      <ion-card-header>
        <ion-icon [name]="item.icon" size="large"></ion-icon>
        <ion-card-title>{{item.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{item.description}}</p>
        <ion-button expand="block" fill="outline" class="view-button">
          View Details
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
